@model SistemaDeContatos.Models.Entities.Contato

@{
    ViewData["title"] = "Cadastrar novo contato";
}

<div class="text-center">
    <h1>@ViewData["title"]</h1>
</div>


@if (TempData["alertError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-close btn-sm close-alert" arial-label="Close"></button>
        @TempData["alertError"];
    </div>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div class="form-group">
                <label for="Nome" class="control-label">Nome</label>
                <input class="form-control" asp-for="Nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Nome" class="control-label">Email</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Nome" class="control-label">Celular</label>
                <input class="form-control" asp-for="Celular" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <button class="btn btn-success" type="submit">Cadastrar</button>
                <a asp-action="Index" asp-controller="Contatos" class="btn btn-danger" role="button">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }